<%= render "layouts/header" %>
<div class="user-main-page-content-background">
  <div class="user-main-page-content-container">
    <div class="row">
      <div class="user-main-page-left-side-bar column-2">
        <%= render 'users/sidebar' %>
      </div>
      <div class="user-main-page-middle-bar column-7">
        <div class="user-main-page-site-info">
          <div class="user-main-page-site-info-header">
            <h1>About</h1>
          </div>
          <div class="user-main-page-site-info-content">
            <p>Purple Book is a personal project that was created with intention to learn more about web developing</p>
            <p>It was created as a Facebook replica, but is not exatcly the same as it has some color restyling and different functionality features</p>
          </div>
        </div>
      </div>
      <div class="user-main-page-right-side-bar column-3">
      </div>
    </div>
  </div>
</div>
