<%= render "layouts/header" %>
<div class="user-main-page-content-background">
  <div class="user-main-page-content-container">
    <div class="row">
      <div class="user-main-page-left-side-bar column-2">
        <%= render 'users/sidebar' %>
      </div>
      <div class="user-main-page-middle-bar column-7">
        <div class="user-main-page-site-info">
          <div class="user-main-page-site-info-header">
            <h1>Privacy Policy</h1>
          </div>
          <div class="user-main-page-site-info-content">
            <h3>What information we collect?</h3>
            <p>We collect information from you when you register on our site and when you fill out your profile. Personally identifying information collected include your name and email. Your email is hidden from everyone, but your name and profile picture (if you provide one) are shown to all Purplebook users</p>
            <p>Other than the information you provided during registration and at your profile, we keep no informtion about you. We store the content you generate on Purplebook (like posts or comments you make), but we don't store your log in times, locations, IP addresses or any information you don't explicitly create during your use of this service.</p>
            <h3>Who we share your information with?</h3>
            <p>We do not share, rent, sell, trade, or otherwise transfer any of your information with or to any third party including any non-identifying data or any aggregate data.</p>
          </div>
        </div>
      </div>
      <div class="user-main-page-right-side-bar column-3">
      </div>
    </div>
  </div>
</div>
