<%= render "layouts/header" %>
<div class="user-main-page-content-background">
  <div class="user-main-page-content-container">
    <div class="row">
      <div class="user-main-page-left-side-bar column-2">
        <%= render 'users/sidebar' %>
      </div>
      <div class="user-main-page-middle-bar column-6">
        <div class="user-main-page-site-info">
          <div class="user-main-page-site-info-header">
            <h1>Terms of Service</h1>
          </div>
          <div class="user-main-page-site-info-content">
            <p>Please read these Terms of Service ("Terms", "Terms and Conditions of Use") completely to use Purplebook. The term 'Purplebook' or 'us' or 'we' refers to the owner of the website. The term 'you' refers to the user or viewer of our website. If you continue to use this website, you are agreeing to comply with and be bound by the following Terms and Conditions of Use, which together with our Privacy Policy govern Purplebook's relationship with you in relation to this website. If you disagree with any part of these Terms and Conditions of Use, please do not use our website.</p>
            <h3>Terms and Conditions of Use</h3>
            <p>The use of this website is subject to the following Terms:</p>
            <ul>
              <li>Don't use this website to do anything illegal or harmful.</li>
              <li>Treat others as you would like others to treat you.</li>
              <li>Don't treats others in ways you would not like to be treated.</li>
            </ul>
            <h3>Termination</h3>
            <p>We reserve the right to terminate or suspend your access to the Site, immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
            <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
          </div>
        </div>
      </div>
      <div class="user-main-page-right-side-bar column-4">
      </div>
    </div>
  </div>
</div>
