<%= render "layouts/header" %>
<div class="user-profile-page-wrapper">
  <div class="user-profile-page-content-container">
    <%= render "profiles/profilecover" %>
    <div class="user-profile-page-content">
      <div class="hidden-tab-fields">
        <%= hidden_field_tag("cover-friends") %>
      </div>
      <div class="user-profile-page-tab">
        <div class="user-profile-page-tab-header">
          <h2><i></i>Friends</h2>
          <h4>All Friends</h4>
        </div>
        <%= render "users/users", users: @friends %>
      </div>
    </div>
  </div>
</div>
