<%= render "layouts/header" %>
<div class="user-profile-page-wrapper">
  <div class="user-profile-page-content-container">
    <%= render "profiles/profilecover" %>
    <div class="user-profile-page-content">
      <p>photos</p>
    </div>
  </div>
</div>
