<li class="friend-box-li">
  <%= link_to(profile_path(user)) do %>
    <div class="friend-box">
      <%= image_tag(user.image) %>
    </div>
    <h4>
      <%= user.firstname %> <%= user.lastname %>
    </h4>
  <% end %>
</li>
