<li class="friend-box-li">
  <div class="friend-box">
    <%= image_tag(user.image) %>
  </div>
  <h4>
    <%= link_to(profile_path(user)) do %>
      <%= user.firstname %> <%= user.lastname %>
    <% end %>
  </h4>
</li>
