<%= render "layouts/header" %>
<div class="user-main-page-content-background">
  <div class="user-main-page-content-container">
    <div class="row">
      <div class="user-main-page-left-side-bar column-2">
        <%= render 'users/sidebar' %>
      </div>
      <div class="user-main-page-middle-bar column-6">
        <%= render "posts/createpost" %>
        <ul class="main-page-posts">
          <%= render @posts %>
        </ul>
      </div>
      <div class="user-main-page-right-side-bar column-4">
      </div>
    </div>
  </div>
</div>
