.user-main-page-post-comments {
  .main-page-post-comment {
    height: 53px;
    padding: 4px 0;
    margin: 7px 0;
    .main-page-post-comment-image {
      height: 32px;
      width: 32px;
      vertical-align: middle;
      border-radius: 50%;
      object-fit: cover;
    }
    .main-page-post-comment-text {
      display: inline-block;
      padding: 8px 10px;
      border-radius: 18px;
      background-color: rgb(242,243,245);
      margin-left: 5px;
      .main-page-post-comment-user-link {
        color: rgb(128,0,128);
        font-weight: bold;
        font-size: 13px;
      }
      .main-page-post-comment-content {
        margin-left: 5px;
        font-size: 13px;
      }
    }
    .main-page-post-comment-footer {
      height: 21px;
      padding-left: 40px;
      button {
        font-size: 12px;
        color: rgb(128,0,128);
        border: none;
        background-color: transparent;
        &:hover {
          text-decoration: underline;
        }
      }
      .main-page-post-comment-create-ago {
        font-size: 12px;
        color: rgb(96,103,112);
      }
    }
  }
}
