@import 'mixins';
@import 'afterreset';

.main-page-create-post {
  width: 100%;
  border-radius: 4px;
  position: relative;
  z-index: 2;
  .main-page-create-post-header {
    position: relative;
    height: 33px;
    padding-left: 10px;
    background-color: #f5f6f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid rgb(221,223,226);
    border-left: 1px solid rgb(221,223,226);
    border-right: 1px solid rgb(221,223,226);
    border-bottom: 1px solid rgb(221,223,226);
    h5 {
      color: rgb(75,79,86);
      @include font-size(12);
      line-height: 33px;
      font-weight: bold;
    }
    .main-page-create-post-exit {
      position: absolute;
      right: 5px;
      top: 0;
      border: none;
      height: 31px;
      color: rgb(211,211,211);
      background-color: #f5f6f7;
      font-size: 20px;
      i {
        vertical-align:middle;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .main-page-create-post-inner {
    position: relative;
    .main-page-create-post-form {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: rgb(255,255,255);
      border-bottom: 1px solid rgb(221,223,226);
      border-left: 1px solid rgb(221,223,226);
      border-right: 1px solid rgb(221,223,226);
      padding-left: 13px;
      .main-page-create-post-footer {
        padding-bottom: 8px;
        .main-page-create-post-footer-container {
          width: 95%;
          margin: auto;
          .create-post-divider {
            border-bottom: 1px solid rgb(221,223,226);
            margin-bottom: 8px;
          }
          button {
            width: 32%;
            height: 32px;
            border-radius: 18px;
            border: none;
            background-color: #f5f6f7;
            color: rgb(75,79,86);
            text-align: left;
            @include font-size(12);
            font-weight: bold;
            padding-left: 10px;
            @media screen and (max-width: 321px) {
              padding-left: 8px;
            }
            i {
              font-size: 20px;
              vertical-align: middle;
              color: #6e3f85;
              @media screen and (max-width: 376px) {
                font-size: 16px;
              }
              @media screen and (max-width: 321px) {
                font-size: 14px;
              }
            }
            span {
              margin-left: 5px;
              vertical-align: middle;
              @media screen and (max-width: 376px) {
                @include font-size(11);
                margin-left: 2px;
                font-weight: normal;
                color: rgb(0,0,0);
              }
              @media screen and (max-width: 321px) {
                @include font-size(10);
                margin-left: 2px;
                font-weight: normal;
                color: rgb(0,0,0);
              }
            }
          }
        }
      }
      .main-page-create-post-image {
        position:absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        object-fit: cover;
        vertical-align: middle;
        top: 15px;
        left: 13px;
      }
      input {
        border: none;
        padding: 15px 12px 14px 51px;
        width: 100%;
        height: 71px;
        @include font-size(14);
        &:focus {
          outline: none;
        }
      }
      .main-page-create-post-focus {
        display: none;
        background-color: #f5f6f7;
        padding-bottom: 8px;
        padding-top: 10px;
        margin-left: -14px;
        margin-right: -1px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom: 1px solid rgb(221,223,226);
        border-left: 1px solid rgb(221,223,226);
        border-right: 1px solid rgb(221,223,226);
        .main-page-create-post-submit {
          width: 95%;
          display: block;
          margin: auto;
          background-color: rgba(147,112,219,0.5);
          height: 28px;
          border: none;
          border-radius: 2px;
          color: rgb(255,255,255);
          padding: 0 16px;
          pointer-events: none;
        }
      }
    }
  }
}
