@import 'mixins';
@import 'afterreset';

.friend-box-li {
  float: left;
  .friend-box {
    img {
      width: 101px;
      height: 101px;
      object-fit:cover;
    }
    h4 {
      padding: 2px 5px 5px 0;
      font-size: 12px;
      color: rgb(128,0,128);
      font-weight: normal;
    }
  }
}
