@import 'mixins';
@import 'afterreset';

.user-main-page-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  height: 42px;
  color: rgb(255,255,255);
  background-color: #6e3f85;
  border-bottom: 1px solid #35204f;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    height: 100%;
  }
  .user-main-page-header-container {
    width: 40%;
    margin:auto;
    @media screen and (max-width: 1920px) {
      width: 65%;
    }
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 426px) {
      width: 100%;
    }
    .user-main-page-header-search {
      display: flex;
      align-items: center;
      height: 28px;
      padding-right: 30px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 5px 0;
        padding-right: 0;
      }
      .user-main-page-search-wrapper {
        width: 100%;
        @media screen and (max-width: 768px) {
          width: 75%;
          margin: auto;
        }
        input {
          @include font-size(13);
          width: calc(100% - 46px);
          height: 26px;
          padding-left: 5px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          border-top: 1px solid #3c1053;
          border-left: 1px solid #3c1053;
          border-bottom: 1px solid #3c1053;
          border-right: none;
        }
        button {
          width: 46px;
          height: 26px;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-top: 1px solid #3c1053;
          border-right: 1px solid #3c1053;
          border-bottom: 1px solid #3c1053;
          border-left: none;
          background-color: rgb(245,246,247);
          margin-left: -4px;
          &:hover {
            background-color: rgb(237,239,241);
          }
          i {
            color: rgb(75,79,86);
            font-size: 14px;
          }
        }
      }
    }
    .user-main-page-header-menu {
      height: 28px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 5px;
      }
      @media screen and (max-width: 426px) {
        height: 100%;
        margin: 5px 0 0 0;
      }
      .user-header-profile {
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        .user-main-page-header-image {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 50%;
        }
        .user-header-profile-name {
          padding-left: 6px;
        }
      }
      ul {
        li {
          color: rgb(255,255,255);
          font-weight: bold;
          @include font-size(12);
          vertical-align: middle;
          display: inline-block;
          border-right: 1px solid rgba(0,0,0,0.2);
          line-height: 24px;
          list-style-type: none;
          height: 24px;
          margin-right: -4px;
          &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(8), &:nth-of-type(9) {
            border-right: none;
          }
          &:nth-of-type(n+4) {
            padding: 0 9px;
            position: relative;
          }
          &:last-of-type {
            margin-bottom: 6px;
          }
          i {
            vertical-align: middle;
            font-size: 19px;
            color: #3c1053;
            &:hover {
              color: #1e042b;
            }
          }
          .active {
            color: rgb(255,255,255);
            &:hover {
              color: rgb(255,255,255);
            }
          }
          &:nth-of-type(-n+4) {
            padding: 0;
          }
          &:hover {
            cursor: pointer;
          }
          .background {
            height: 28px;
            position: relative;
            top: -2px;
            padding: 0 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
              background-color: rgba(75,0,130,0.35);
              border-radius: 2px;
            }
            @media screen and (max-width: 1440px) {
              padding: 0 12px;
            }
            @media screen and (max-width: 1024px) {
              padding: 0 11px;
            }
            @media screen and (max-width: 768px) {
              padding: 0 16px;
            }
          }
          .first-background {
            padding: 0 14px 0 0;
          }
          @media screen and (max-width: 426px) {
            border: none;
            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
              width: 100%;
              text-align: center;
              @include font-size(15);
            }
            &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8), &:nth-of-type(9) {
              display: none;
            }
          }
        }
        @media screen and (max-width: 768px) {
          margin: auto;
        }
      }
    }
  }
}
