@mixin main-gradient() {
  background: #ad5389;
  background: linear-gradient(to top, #3c1053, #ad5389);
}

@mixin shadow-gradient() {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 15%,rgba(0,0,0,0) 70%,rgba(0,0,0,0) 75%,rgba(0,0,0,0.4) 88%,rgba(0,0,0,0.65) 96%,rgba(0,0,0,0.65) 99%);
}

@mixin font-size($size, $base: 16) {
  font-size: $size;
  font-size: ($size / $base) * 1rem;
}
