@import 'mixins';
@import 'afterreset';

body {
  background-color: #e9ebee;
}

.user-main-page-content-background {
  padding-top: 12px;
  .user-main-page-content-container {
    width: 40%;
    margin:auto;
    @media screen and (max-width: 1920px) {
      width: 65%;
    }
    @media screen and (max-width: 1024px) {
      width: 90%;
    }
    @media screen and (max-width: 768px) {
      width: 98%;
    }
    @media screen and (max-width: 426px) {
      width: 100%;
    }
    .user-main-page-left-side-bar {
      position: sticky;
      top: 55px;
      @media screen and (max-width: 768px) {
        top: 88px
      }
      .user-main-page-content-profile {
        height: 28px;
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        .user-main-page-content-image {
          width: 20px;
          height: 20px;
          object-fit: cover;
          border-radius: 50%;
        }
        .user-main-page-content-profile-name {
          display: inline-block;
          padding-left: 7px;
          color: rgb(0,0,0);
        }
      }
      .user-main-page-content-sidebar-menu {
        ul {
          li {
            padding-left: 5px;
            list-style-type: none;
            @include font-size(13);
            color: rgb(0,0,0);
            height: 28px;
            line-height: 28px;
            &:first-of-type {
              margin-bottom: 5px;
            }
            &:last-of-type {
              @include font-size(12);
              color: #808080;
            }
            &:hover:not(:last-of-type) {
              border: 1px solid rgb(221,223,226);
              background-color: #f5f6f7;
              border-radius: 2px;
              position: relative;
              top: -1px;
              bottom: -1px;
              right: -1px;
              left: -1px;
              cursor: pointer;
            }
            a {
              display: block;
              width: 100%;
            }
          }
        }
        .main-page-sidebar-divider {
          border-bottom: 3px solid #c0c0c0;
          margin-bottom: 8px;
        }
        .main-page-sidebar-divider-last {
          border-bottom: 1px solid #c0c0c0;
          margin-bottom: 8px;
        }
        @media screen and (max-width: 426px) {
          display: none;
        }
      }
    }
    .user-main-page-middle-bar {
      padding-left: 20px;
      @media screen and (max-width: 426px) {
        padding: 0 5px;
      }
      .main-page-posts {
        width: 100%;
      }
    }
    .user-main-page-right-side-bar {
    }
  }
}

.user-profile-page-wrapper {
  width: 40%;
  margin: auto;
  @media screen and (max-width: 1920px) {
    width: 65%;
  }
  @media screen and (max-width: 1024px) {
    width: 90%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .user-profile-page-content-container {
    width: 83%;
    @media screen and (max-width: 1024px) {
      width: 93%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .user-profile-cover {
      border: 1px solid rgb(211,214,219);
      border-top: none;
      .user-profile-cover-photo {
        height: 205px;
        img {
          width: 100%;
          height: 205px;
        }
      }
      .user-profile-cover-menu {
        position:relative;
        padding-left: 201px;
        background-color: rgb(255,255,255);
        height: 43px;
        border-radius: 3px;
        @media screen and (max-width: 426px) {
          margin-top: 125px;
          text-align: center;
          padding: 0;
        }
        ul {
          overflow: hidden;
          @media screen and (max-width: 426px) {
            margin: auto;
            display: inline-block;
          }
          a {
            display: block;
            height: 43px;
            padding: 0 17px;
            float:left;
            border-right: 1px solid rgb(233,234,237);
            @media screen and (max-width: 320px) {
              padding: 0 15px;
            }
            &:last-of-type {
              @media screen and (max-width: 320px) {
                border-right: none;
              }
            }
            &:hover {
              background-color: rgb(245,246,247);
            }
            li {
              position:relative;
              color: rgb(128,0,128);
              height: 100%;
              @include font-size(14);
              line-height: 43px;
              font-weight: bold;
              cursor: pointer;
            }
          }
          .first-tab {
            border-left: 1px solid rgb(233,234,237);
            @media screen and (max-width: 320px) {
              border-left: none;
            }
          }
        }
      }
      .user-profile-cover-main-photo {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 169.5px;
        height: 169.5px;
        background-color: rgba(0,0,0,0.15);
        border-radius: 50%;
        @media screen and (max-width: 468px) {
          left: 0;
          right: 0;
          bottom: 88px;
          margin-left: auto;
          margin-right: auto;
        }
        img {
          width: 168px;
          height: 168px;
          border-radius: 50%;
          border: 4px solid rgb(255,255,255);
          object-fit: cover;
        }
      }
      .user-profile-cover-name {
        @include font-size(24);
        color: rgb(255,255,255);
        position: absolute;
        left: 200px;
        bottom: 57px;
        font-weight: bold;
        @media screen and (max-width: 468px) {
          left: 0;
          right: 0;
          bottom: 58px;
          text-align: center;
          color: rgb(24,30,33);
        }
      }
    }
    .user-profile-page-content {
      margin-top: 12px;
      @media screen and (max-width: 426px) {
        margin-top: 5px;
      }
      .user-profile-left-side {
        width: 38.3%;
        float: left;
        @media screen and (max-width: 426px) {
          float: none;
          width: 100%;
        }
        .user-profile-page-info {
          background-color: rgb(255,255,255);
          border-radius: 3px;
          border: 1px solid rgb(221,223,226);
          padding: 0 12px;
          margin-bottom: 12px;
          .user-profile-page-info-headers {
            height: 48px;
            padding: 12px 0 12px 0;
            .user-profile-icon-wrapper {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              i {
                font-size: 12.5px;
                color: rgb(255,255,255);
                vertical-align: middle;
              }
            }
            .intro {
              background-color: #6e3f85;
            }
            .photos {
              background-color: #9acd32;
            }
            .friends {
              background-color: #ff1493;
            }
            span {
              @include font-size(16);
              color: rgb(24,30,33);
              vertical-align: middle;
            }
            .dot-seperator {
              vertical-align: top;
              color: rgb(144,148,156);
            }
            .user-profile-page-friends-count {
              @include font-size(14);
              color: rgb(144,148,156);
            }
          }
          .user-profile-page-intro-content {
            .user-profile-page-intro-infos {
              div {
                height: 24px;
                margin: 4px 0;
                span {
                  @include font-size(12);
                  color: rgb(29,33,41);
                  padding-right: 16px;
                }
              }
            }
          }
        }
        .user-profile-lists {
          margin: 0 -12px 0 -7px;
          background-color: rgb(255,255,255);
          ul {
            overflow: hidden;
            li {
              float: left;
              cursor: pointer;
              width: calc(100% / 3);
              border-right: 5px solid rgb(255,255,255);
              .friend-box, .profile-photos-photo-container {
                position: relative;
                margin-bottom: 6px;
                &:after {
                  content: "";
                  display: block;
                  padding-bottom: 100%;
                }
                img {
                  position:absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  object-fit:cover;
                  object-position: center;
                }
              }
              h4 {
                margin: 0;
                width: 100%;
                padding: 2px 5px 5px 0;
                @include font-size(12);
                color: rgb(128,0,128);
                font-weight: normal;
                word-break: break-word;
                &:hover {
                  text-decoration: underline;
                }
              }
              @media screen and (max-width: 768px) {
                width: calc(100% / 2);
              }
              @media screen and (max-width: 500px) {
                width: 100%;
              }
            }
          }
        }
      }
      .user-profile-right-side {
        width: 60.5%;
        float: right;
        @media screen and (max-width: 426px) {
          width: 100%;
          float: none;
        }
        .main-page-posts {
            &:first-child {
              .user-main-page-post {
                margin-top: 0;
              }
            }
        }
      }
    }
  }
}


.users-reusable-container {
  padding: 15px 0px 0px 15px;
  background-color: rgb(255,255,255);
  overflow: hidden;
  @media screen and (max-width: 426px) {
    padding: 15px;
  }
  .users-reusable-user {
    overflow: hidden;
    border: 1px solid rgb(233,235,238);
    width: calc(50% - 15px);
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    @media screen and (max-width: 426px) {
      width: 100%;
      float: none;
      margin: 0 0 10px 0;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      float: left;
    }
    .users-reusable-user-info {
      float: left;
      height: 100px;
      width: calc(100% - 100px);
      .users-reusable-user-info-left {
        float: left;
        padding-left: 10px;
        @media screen and (max-width: 320px) {
          width: 50%;
          display: flex;
          align-items: center;
          height: 100%;
        }
        h3 {
          margin: 0;
          line-height: 100px;
          @include font-size(14);
          color: #6e3f85;
          &:hover {
            text-decoration: underline;
          }
          @media screen and (max-width: 320px) {
            line-height: normal;
          }
        }
      }
      .users-reusable-user-info-right {
        float: right;
        line-height: 100px;
        padding-right: 10px;
        .friend {
          i {
            margin-right: 5px;
            color: rgba(75,79,86,0.8);
          }
          background-color: rgb(245,246,247);
          border: 1px solid rgb(204,208,213);
          border-radius: 2px;
          padding: 0 8px;
          height: 24px;
          color: rgb(75,79,86);
          font-weight: bold;
          cursor: pointer;
          @include font-size(13);
          @media screen and (max-width: 426px) {
            @include font-size(12);
          }
          &:hover {
            background-color: rgb(235,237,240);
          }
        }
        .not-friend {
          i {
            margin-right: 5px;
          }
          background-color: #6e3f85;
          border: 1px solid #35204f;
          border-radius: 2px;
          padding: 0 8px;
          height: 24px;
          color: rgb(255,255,255);
          font-weight: bold;
          cursor: pointer;
          @include font-size(13);
          @media screen and (max-width: 426px) {
            @include font-size(12);
          }
          &:hover {
            background-color: rgb(75,0,130);
          }
        }
      }
    }
  }
}

.all-users-page-wrapper {
  width: 100%;
  margin-top: 20px;
  @media screen and (max-width: 426px) {
    margin-top: 0;
  }
  .all-users-page-container {
    width: 35%;
    margin: auto;
    position: relative;
    right: 25px;
    @media screen and (max-width: 1920px) {
      width: 65%;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      right: 0;
    }
    .all-user-page-header {
      padding: 15px;
      @include font-size(14);
      font-weight: bold;
      background-color: rgb(255,255,255);
      border: 1px solid rgb(233,233,233);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      h2 {
        margin: 0;
        line-height: 18px;
      }
    }
    .users-reusable-container {
      padding-right: 15px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid rgb(233,233,233);
      border-right: 1px solid rgb(233,233,233);
      border-bottom: 1px solid rgb(233,233,233);
      .users-reusable-user {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 10px;
        img {
          height: 75px;
          width: 75px;
          @media screen and (max-width: 426px) {
            height: 60px;
            width: 60px;
          }
        }
        .users-reusable-user-info {
          height: 75px;
          @media screen and (max-width: 426px) {
            height: 60px;
            width: calc(100% - 60px);
          }
          .users-reusable-user-info-left {
            h3 {
              @include font-size(16);
              line-height: 75px;
              &:hover {
                text-decoration: underline;
              }
              @media screen and (max-width: 426px) {
                @include font-size(13);
                line-height: 60px;
              }
            }
          }
          .users-reusable-user-info-right {
            line-height: 75px;
            @media screen and (max-width: 426px) {
              line-height: 60px;
            }
          }
        }
        .users-user-info-right-all-page {
          float: right;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
