@import 'mixins';
@import 'afterreset';

body {
  background-color: #e9ebee;
}

.user-main-page-content-background {
  padding-top: 12px;
  .user-main-page-content-container {
    width: 68%;
    margin:auto;
    font-family: $main-font-family;
    .user-main-page-left-side-bar {
      .user-main-page-content-profile {
        height: 28px;
        display: flex;
        align-items: center;
        padding-bottom: 2px;
        .user-main-page-content-image {
          width: 20px;
          height: 20px;
          object-fit: cover;
          border-radius: 50%;
        }
        .user-main-page-content-profile-name {
          display: inline-block;
          padding-left: 7px;
          color: rgb(0,0,0);
        }
      }
      .user-main-page-content-sidebar-menu {
        font-family: $main-font-family;
        ul {
          li {
            padding-left: 5px;
            list-style-type: none;
            font-size: 13px;
            color: rgb(0,0,0);
            height: 28px;
            line-height: 28px;
            &:first-of-type {
              margin-bottom: 5px;
            }
            &:last-of-type {
              font-size: 12px;
              color: #808080;
            }
            &:hover:not(:last-of-type) {
              border: 1px solid rgb(221,223,226);
              background-color: #f5f6f7;
              border-radius: 2px;
              position: relative;
              top: -1px;
              bottom: -1px;
              right: -1px;
              left: -1px;
              cursor: pointer;
            }
            a {
              display: block;
              width: 100%;
            }
          }
        }
        .main-page-sidebar-divider {
          border-bottom: 3px solid #c0c0c0;
          margin-bottom: 8px;
        }
        .main-page-sidebar-divider-last {
          border-bottom: 1px solid #c0c0c0;
          margin-bottom: 8px;
        }
      }
    }
    .user-main-page-middle-bar {
      margin-left: 20px;
      .main-page-posts {
        width: 85%;
      }
    }
    .user-main-page-right-side-bar {
    }
  }
}

.user-profile-page-wrapper {
  width: 67%;
  .user-profile-page-content-container {
    width: 851px;
    float: right;
    .user-profile-cover {
      border: 1px solid rgb(211,214,219);
      border-top: none;
      .user-profile-cover-photo {
        height: 205px;
        img {
          width: 100%;
          height: 205px;
        }
      }
      .user-profile-cover-menu {
        position:relative;
        padding-left: 201px;
        background-color: rgb(255,255,255);
        height: 43px;
        border-radius: 3px;
        ul {
          li {
            position:relative;
            color: rgb(128,0,128);
            float:left;
            font-size: 14px;
            padding: 0 17px;
            line-height: 43px;
            height: 43px;
            font-weight: bold;
            border-right: 1px solid rgb(233,234,237);
            cursor: pointer;
            &:hover {
              background-color: rgb(245,246,247);
            }
          }
          .first-tab {
            border-left: 1px solid rgb(233,234,237);
          }
        }
      }
      .user-profile-cover-main-photo {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: 169.5px;
        height: 169.5px;
        background-color: rgba(0,0,0,0.15);
        border-radius: 50%;
        img {
          width: 168px;
          height: 168px;
          border-radius: 50%;
          border: 4px solid rgb(255,255,255);
          object-fit: cover;
        }
      }
      .user-profile-cover-name {
        font-size: 24px;
        color: rgb(255,255,255);
        position: absolute;
        left: 200px;
        bottom: 57px;
        font-weight: bold;
      }
    }
    .user-profile-page-content {
      margin-top: 12px;
      .user-profile-left-side {
        width: 38.3%;
        float: left;
        .user-profile-page-info {
          background-color: rgb(255,255,255);
          border-radius: 3px;
          border: 1px solid rgb(221,223,226);
          padding: 0 12px;
          margin-bottom: 12px;
          .user-profile-page-info-headers {
            height: 48px;
            padding: 12px 0 12px 0;
            .user-profile-icon-wrapper {
              width: 24px;
              height: 24px;
              border-radius: 50%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              margin-right: 10px;
              i {
                font-size: 12.5px;
                color: rgb(255,255,255);
                vertical-align: middle;
              }
            }
            .intro {
              background-color: #6e3f85;
            }
            .photos {
              background-color: #9acd32;
            }
            .friends {
              background-color: #ff1493;
            }
            span {
              font-size: 16px;
              color: rgb(24,30,33);
              vertical-align: middle;
            }
            .dot-seperator {
              vertical-align: top;
              color: rgb(144,148,156);
            }
            .user-profile-page-friends-count {
              font-size: 14px;
              color: rgb(144,148,156);
            }
          }
          .user-profile-page-intro-content {
            .user-profile-page-intro-infos {
              div {
                height: 24px;
                span {
                  font-size: 12px;
                  color: rgb(29,33,41);
                  padding: 4px 16px 4px 0;
                }
              }
            }
          }
        }
        .user-profile-lists {
          margin: 0 -12px 0 -7px;
          background-color: rgb(255,255,255);
          ul {
            overflow: hidden;
            li {
              float: left;
              cursor: pointer;
              img {
                width: 101px;
                height: 101px;
                object-fit:cover;
                vertical-align: top;
                margin-bottom: 6px;
              }
              border-right: 5px solid rgb(255,255,255);
              h4 {
                margin: 0;
                padding: 7px 5px 5px 0;
                padding: 2px 5px 5px 0;
                font-size: 12px;
                color: rgb(128,0,128);
                font-weight: normal;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      .user-profile-right-side {
        width: 60.5%;
        float: right;
        .main-page-posts {
            &:first-child {
              .user-main-page-post {
                margin-top: 0;
              }
            }
        }
      }
    }
  }
}

@media only screen and (max-width: 1270px) {
  .user-profile-page-wrapper {
    width: 100%;
    .user-profile-page-content-container {
      float: left;
    }
  }
}

.users-reusable-container {
  padding: 15px 0px 0px 15px;
  background-color: rgb(255,255,255);
  overflow: hidden;
  .users-reusable-user {
    overflow: hidden;
    border: 1px solid rgb(233,235,238);
    width: calc(50% - 15px);
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      float: left;
    }
    .users-reusable-user-info {
      float: left;
      height: 75px;
      width: calc(100% - 100px);
      .users-reusable-user-info-left {
        float: left;
        padding-left: 10px;
        h3 {
          margin: 0;
          line-height: 75px;
          font-size: 14px;
          color: #6e3f85;
        }
      }
      .users-reusable-user-info-right {
        float: right;
        line-height: 75px;
        padding-right: 10px;
        .friend {
          i {
            margin-right: 5px;
            color: rgba(75,79,86,0.8);
          }
          background-color: rgb(245,246,247);
          border: 1px solid rgb(204,208,213);
          border-radius: 2px;
          padding: 0 8px;
          height: 24px;
          color: rgb(75,79,86);
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: rgb(235,237,240);
          }
        }
        .not-friend {
          i {
            margin-right: 5px;
          }
          background-color: #6e3f85;
          border: 1px solid #35204f;
          border-radius: 2px;
          padding: 0 8px;
          height: 24px;
          color: rgb(255,255,255);
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: rgb(75,0,130);
          }
        }
      }
    }
  }
}

.all-users-page-wrapper {
  width: 67%;
  margin: 20px auto 0 auto;
  .all-users-page-container {
    width: 75%;
    float:left;
    .all-user-page-header {
      padding: 15px;
      font-size: 14px;
      font-weight: bold;
      background-color: rgb(255,255,255);
      border: 1px solid rgb(233,233,233);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      h2 {
        margin: 0;
        line-height: 18px;
      }
    }
    .users-reusable-container {
      padding-right: 15px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: 1px solid rgb(233,233,233);
      border-right: 1px solid rgb(233,233,233);
      border-bottom: 1px solid rgb(233,233,233);
      .users-reusable-user {
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 10px;
        img {
          height: 75px;
          width: 75px;
        }
        .users-reusable-user-info {
          height: 75px;
          .users-reusable-user-info-left {
            h3 {
              font-size: 16px;
              line-height: 75px;
            }
          }
        }
        .users-user-info-right-all-page {
          float: right;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 1270px) {
  .all-users-page-wrapper {
    width: 100%;
    .all-users-page-container  {
      float: left;
    }
  }
}
