<header class="user-main-page-header">
  <div class="user-main-page-header-container">
    <div class="wrap-for-flex">
      <div class="row">
        <div class="user-main-page-header-search column-5">
          <input type="text" placeholder="Search"></input>
          <button><i class="fas fa-search"></i></button>
        </div>
        <div class="user-main-page-header-menu column-6">
          <ul>
            <li id="header-user-name">
              <div class="background first-background">
                <%= link_to(profile_path(@user)) do %>
                  <div class="user-header-profile">
                    <%= image_tag(@user.image, class: "user-main-page-header-image") %>
                    <div class="user-header-profile-name">
                      <span><%= @user.firstname %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
            <li><div class="background"><a href="#">Home</a></div></li>
            <li><div class="background"><a href="#">Find friends</a></div></li>
            <li><div class="background"><a href="#">Create</a></div></li>
            <li class="user-main-page-header-friend-requests"><i class="fas fa-user-friends"></i></li>
            <li><a href="#"><i class="fab fa-facebook-messenger"></i></a></li>
            <li><a href="#"><i class="fas fa-bell"></i></a></li>
            <li><a href="#"><i class="fas fa-question-circle"></i></a></li>
            <li><a href="#"><i class="fas fa-sort-down"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
